*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.slide{
    width: 100%;
 transform: translateX(100%);
background-position: center;
    position: absolute;
  
}
body{
    overflow-x: hidden;
}
.active{
    transform: translateX(0);
}
.overly{
    position: absolute;
    top: 0;
    left: 0;
   width: 100%;
   height: 100%;
background: rgba(0, 0, 0, 0.5);
}
.one{
    background: url(../images/img1.jpg) no-repeat center;
    background-size:contain;
    height: 100vh;
}
.two{
    background: url(../images/img2.jpg) no-repeat center;
    background-size:contain;
    height: 100vh;
}
.three{
    background: url(../images/img3.jpg) no-repeat center; 
     background-size:contain;
    height: 100vh;
}
.four{
    background: url(../images/img4.jpg) no-repeat center; 
    background-size:contain;
    height: 100vh;
}
.five{
    background: url(../images/img5.jpg) no-repeat center; 
    background-size:contain;
    height: 100vh;
}

.prev {
	width: 45px;
	height: 45px;
	position: absolute;
	top: 50%;
	left: 45px;
	background: #fff;
	
	border-radius: 50px;
	color: black;
	font-size: 26px;
	padding-left: 15px;
 transition: all linear 0.4s;
	padding-top: 9px;
}
.prev:hover{
background:#808080;
color: #fff;
}
.next:hover{
background:#808080;
color: #fff;
}
.next {
	width: 45px;
	height: 45px;
	position: absolute;
	top: 50%;
	right: 45px;
	background: #fff;
    transition: all linear 0.4s;
	border-radius: 50px;
	color: black;
	font-size: 26px;
	padding-left: 15px;

	padding-top: 9px;
}
.smoth{
    transition: 1s ease;
}
